* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Sansita", sans-serif;
}

header {
  background-color: #bbb;
  display: grid;
  grid-gap: 1rem;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 30px #333;
  margin: 0 auto;
}

h1 {
  font-size: 2rem;
}

nav {
  background-color: #36454f;
  padding: 1rem;
}

nav ul {
  list-style: none;
  display: none; /* 🔹 Oculto por defecto */
  flex-direction: column;
  padding: 0;
  margin: 0;
}

nav ul.show {
  display: flex; /* 🔹 Mostrar cuando tenga la clase */
}

nav a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
  font-size: larger;
}

nav a:hover {
  text-decoration: underline double;
  background-color: #eee;
  color: #000;
}

.active {
  color: yellow;
}

#hamburger {
  background: none;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

/* Pantallas grandes */
@media (min-width: 769px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav ul {
    display: flex; /* 🔹 Siempre visible en pantallas grandes */
    flex-direction: row;
  }
  #hamburger {
    display: none; /* 🔹 Ocultar botón */
  }
}

.container {
  display: grid;
  grid-template-columns: repeat((2fr, 1fr));
  grid-gap: 25px;
  place-items: center;
}

.footi {
  background-color: rgb(110, 42, 165);
  text-align: center;
}
